

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap') ;

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-lexend : Lexend , "sans-serif";
    --font-DotGothic: DotGothic16 , "sans-serif";
    --font-Nunito : Nunito , "sans-serif";
}




.react-flow__node[class*="react-flow__node-"] {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
